# Ignorar build.py
build.py
novo_perfil_whatsapp/
firefox_profile/
# Pastas comuns do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.env
.venv
env/
venv/

# Cache do IDE/editor
.vscode/
.idea/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Saídas de build
dist/
build/
*.egg-info/

enviados.csv    
faltantes.csv